@font-face{
    font-family: 'Weston';
    src:url(Assets/proyecto/Assets/Arte/Fuentes/WestonFree.otf);
    font-weight: bold;
    font-style: bold;
}
body{
    font-family: 'Weston';
    margin: 0;
}
.parrafosHistoria{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    
}
.titulo{
    color:goldenrod;
    padding: 100px 0 0 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.head {
    height: 700px;
    position: relative;
}

.head-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.imagen-header{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}
.wave{
    position: absolute;
    width: 100%;
    bottom: -5px;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header {
    font-size: 50px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:white;
}
.textos-header h2{
    font-size: 30px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    color:white;
}
.imagen-logo-trama, .textohistoria{
    width: 48%;
    padding: 0px 0px 30px 15px;
    text-align:justify;
    font-size: medium;
    object-fit:  contain;
}

.textohistoria p{
    font-weight: 250;   
    color: #0A0802; 
}

.Personajes{
    align-items:center;
}
.imagen-serpiente{
    width: 48%;
    padding: 40px 50px 80px 20px;
}
.Personajes .SerpienteContenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #FFBD59;
}
.Serpiente p{
    padding: 0px 30px 30px 15px;
    font-weight: 300;
    text-align: justify;
    align-items: center;
    color: #0A0802;
}
.imagen-mapache{
    width: 48%;
    padding: 40px 50px 80px 20px;
}
.Personajes .MapacheContenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #EBA450;
}
.Mapache p{
    padding: 0px 30px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #0A0802;
}
.imagen-buitre{
    width: 48%;
    padding: 40px 50px 80px 20px;
}
.Personajes .BuitreContenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #DF8E43;
}
.Buitre p{
    padding: 0px 50px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #0A0802;
}
.imagen-jack{
    width: 25%;
    padding: 40px 50px 80px 20px;
}
.Personajes .JackMcManamanContenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #D18138;
}
.JackMcManaman p{
    padding: 0px 20px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #0A0802;
}
.imagen-Boss{
    width: 48%;
    padding: 40px 50px 80px 20px;
}
.Personajes .BossContenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #423727;
}
.Boss p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;  
}
.historia h2{
    font-size: xx-large;
}
.Personajes h2{
    font-size: xx-large;
}
.QuienesSomosContenido {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align:justify;
    align-items: center;
    font-size: medium;
    object-fit:  contain; 
    flex-direction: column;
    padding: 50px 30px 0 30px;
    background-color: #686868;
}
.imagen-Aguapanela{
    width: 20%;
    padding: 40px 50px 80px 20px;
}
.QuienesSomosContenido p{
    font-weight: 250; 
    color: #e4e4bc;   
}