@font-face{
    font-family: 'Weston';
    src:url(Assets/proyecto/Assets/Arte/Fuentes/WestonFree.otf);
    font-weight: bold;
    font-style: bold;
}
body{
    font-family: 'Weston';
}
.parrafosHistori{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color:goldenrod;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

